<div class="container">
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="oddOnly = !oddOnly">
      Only odd numbers
    </button>
</div>
<br><br>
<ul >
  <div *ngIf="oddOnly"> 
    <li class="list-group-item"
    [ngClass]="{odd : odd % 2 !== 0}"
    [ngStyle]="{ backgroundColor : odd % 2 !== 0 ? 'pink' : 'blue' }"
    *ngFor = "let odd of oddNumber">
      {{odd}}
    </li>
  </div>
  <div *ngIf="!oddOnly">
    <li class="list-group-item"
    [ngStyle] ="{ backgroundColor : even %2 !== 0 ? 'orange' : 'green'}"
    [ngClass]="{odd : even % 2 !== 0}"
     *ngFor="let even of evenNumber">
      {{even}}
    </li>
  </div>
</ul>
<p appBasicHighlight>this is basic attribute directive!! next coming the better attribute directive below the line.</p>
<p appBetterhighlight [defaultColor]="'skyblue'" [highlightColor]="'pink'">better highlight </p>
</div>


</div>