<div class="row">
    <div class="col-md-4">
        <h1>Medicine Factory</h1>
        <input type="text" placeholder="Medicine Name" [(ngModel)]="medName" class="form-control"> <br><br>
        <button class="btn btn-info" (click)="createMedicine()">Create + Send</button>
    </div>
    <div class="col-md-4">
        <h1>Electronics Factory</h1>
        <input type="number" placeholder=" Item Name" class="form-control" [(ngModel)]="itemName"> <br><br>
        <button class="btn btn-info" (click)="createElectronic()">Create + Send</button>
    </div>
    <div class="col-md-4">
        <h1>Food Factory</h1>
        <input type="text" placeholder="Dish"class="form-control" [(ngModel)]="dish" > <br><br>
        <button class="btn btn-info" (click)="createFood()">Create + Send</button>
    </div>
</div>


