<div class="row">
    <div class="col-xs-12">
    <div class="col-md-4">
        <label for="name">Doctor Name</label><br><br>

        <input id="name" type="text" [(ngModel)]="docs"  class="form-control" placeholder="Doctor Name"><br>
        <button class="btn btn-success" (click)="addDocname()">Doctor Name</button>
    </div>
   
    <div class="col-md-4">
        <label for="Count">Soilder Count</label><br><br>

        <input id="Count" type="number" [(ngModel)]="soilders" ><br>
        <button class="btn btn-success" (click)="addSoildernumber()">Soilder Count</button>
    </div>
</div>
</div>